<div data-title="Editing a customer" data-extension="editForm"
  data-url="#customers/<%= @customer.id %>/edit">
  <div>
    <span @click="visit('/api/customers')" class="link">List of customer</span>
  </div>

  <%= vue_form_with model: [ :api, @customer ], id: "customer-form",
    html: { "@submit.prevent" => "submit" } do |f| %>
    <%= render "fields", f: f %>
    <div>
      <%= f.submit "Update" %>
    </div>
  <% end %>
</div>
