<div>
  <div>
    <span @click="path = '/api/customers'">List of customer</span>
  </div>

  <%= vue_form_with model: @customer, id: "customer-form" do |f| %>
    <%= render "fields", f: f %>
    <div>
      <%= f.submit "Update" %>
    </div>
  <% end %>
</div>
