<div data-title="List of customers" data-extension="index"
  data-url="#customers">
  <div>
    <%= link_to "New customer", :new_api_customer, "@click.prevent" => "visit" %>
  </div>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Plan</th>
        <th>Gender</th>
        <th>Confirmed</th>
        <th>Approved</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="customer in customers">
        <td>{{ customer.name }}</td>
        <td>{{ customer.plan }}</td>
        <td>{{ customer.gender }}</td>
        <td>{{ customer.confirmed }}</td>
        <td>{{ customer.approved }}</td>
        <td>
          <a :href="'/api/customers/' + customer.id + '/edit'"
            @click.prevent="visit">Edit</a>
          <span class="link" @click="destroy(customer)">Delete</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
