<div data-title="List of customers" data-extension="index" data-url="#customers">

  <table class="table table-striped table-hover">
    <tfoot>
      <tr>
        <td colspan="6">
          <%= link_to :new_api_customer, class: "btn btn-primary", "@click.prevent" => "visit" do %>
            <i class="icon icon-plus"></i> New customer
          <% end %>
        </td>
      </tr>
    </tfoot>
    <thead>
      <tr>
        <th>Name</th>
        <th>Plan</th>
        <th>Gender</th>
        <th>Confirmed</th>
        <th>Approved</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="customer in customers">
        <td>{{ customer.name }}</td>
        <td>{{ customer.plan }}</td>
        <td>{{ customer.gender }}</td>
        <td>{{ customer.confirmed }}</td>
        <td>{{ customer.approved }}</td>
        <td>
          <a :href="'/api/customers/' + customer.id + '/edit'" @click.prevent="visit">Edit</a>
          <a href="#!destroy" @click="destroy(customer)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
