<div data-initial-data='{ "open": false }'>
  <div>
    <span @click="visit('/api/customers')">List of customer</span>
  </div>

  <%= vue_form_with model: @customer, id: "customer-form" do |f| %>
    <%= render "fields", f: f %>
    <div>
      <%= f.submit "Create" %>
    </div>
  <% end %>
</div>
