<%
  metadata = {
    "title" => "New Customer",
    "handler" => "newForm",
    "url" => "#customers/new"
  }
%>
<div data-meta='<%= metadata.to_json %>' data-open='false'>
  <div>
    <span @click="visit('/api/customers')" class="link">List of customer</span>
  </div>

  <%= vue_form_with model: [ :api, @customer ], id: "customer-form",
    html: { "@submit.prevent" => "submit" } do |f| %>
    <%= render "fields", f: f %>
    <div>
      <%= f.submit "Create" %>
    </div>
  <% end %>
</div>
