.section-header {
  padding: 1rem .5rem;
}

.section-hero {
  padding: 4.5rem .5rem;
}

.section-features {
  padding: 4.5rem .5rem 3.5rem .5rem;
}

.section-footer {
  color: #acb3c2;
  padding: 3.5rem .5rem;
}
