<section class="section section-footer">
  <div class="container grid-lg">
    <p>
      <a href="https://github.com/kuroda/vue-rails-form-builder-demo#vue-rails-form-builder-demo" target="_blank">Readme</a> |
      <a href="https://github.com/kuroda/vue-rails-form-builder" target="_blank">vue-rails-form-builder</a> |
      <a href="https://github.com/kuroda/vue-data-scooper" target="_blank">vue-data-scooper</a> |
      <a href="https://github.com/kuroda/vue-remote-template" target="_blank">vue-remote-template</a>
    </p>

    <p>
      Built with ♥ by <a href="https://github.com/kuroda" target="_blank">Tsutomu Kuroda</a>. Licensed under the <a href="https://github.com/kuroda/vue-rails-form-builder/blob/master/MIT-LICENSE" target="_blank">MIT License</a>.
    </p>
  </div>
</section>
