<section class="section section-header">
  <div class="container grid-lg">
    <header class="navbar">
      <section class="navbar-section">
        <%= link_to "Vue Rails Form Builder Demo", :root %>
      </section>
      <section class="navbar-center">
        <%= link_to :root do %>
          <%= image_tag "vue.svg", size: "32x32" %>
        <% end %>
      </section>
      <section class="navbar-section">
        <a href="https://github.com/kuroda/vue-rails-form-builder-demo" class="btn btn-link">GitHub</a>
      </section>
    </header>
  </div>
</section>
