<!DOCTYPE html>
<html>
  <head>
    <title>VueRailsFormBuilderDemo</title>
    <%= csrf_meta_tags %>
    <style type="text/css">
      [v-cloak] {
        display: none;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
