<% content_for :body do %>
  <div class="container grid-lg">
    <%= content_for?(:breadcrumb) ? yield(:breadcrumb) : render("breadcrumb") rescue nil %>

    <%= yield %>
  </div>
<% end %>

<%= render template: "layouts/application_base" %>
